.container{
    min-width: 1050px;
    margin-top: 90px;
    margin-bottom: 60px;
    background-color: rgb(255, 255, 255);
}
.title{
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}
.loginBox{
    width: 340px;
    margin: 0px auto;
    letter-spacing: -0.6px;
}
.inputBox{
    margin-top: 30px;
}
.inputBox > div:first-of-type{
    margin-bottom: 5px;
    padding-bottom: 12px;
}
.inputBox > div > div{
    position: relative;
    height: 48px;
}
.inputBox input{
    width: 100%;
    height: 54px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}
.inputBox > div:last-of-type{
    padding-bottom: 12px;
}

.search{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 13px;
}
.search a{
    color: rgb(51, 51, 51);
    cursor: pointer;
}
.search span{
    width: 1px;
    height: 10px;
    margin: 3px 6px 0px;
    background-color: rgb(51, 51, 51);
}

.buttonBox{
    margin-top: 28px;
}
.buttonBox button:first-of-type{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 0, 128);
    border: 0px none;
}
.buttonBox button span{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
.buttonBox button:last-of-type{
    margin-top: 10px;
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}