.productSort{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    line-height: 20px;
}
.sortTypeInfo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 8px;
    font-size: 14px;
    color: rgb(153, 153, 153);
}
.sortType{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 8px;
    font-size: 14px;
    color: rgb(153, 153, 153);
}
.sortType::before{
    content: "";
    display: flex;
    width: 1px;
    height: 10px;
    margin-right: 8px;
    background-color: rgb(226, 226, 226);
}
.sortTypeInfo a, .sortType a{
    letter-spacing: -0.3px;
    cursor: pointer;
    color: inherit;
}

.productGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 249px);
    gap: 24px 18px;
    width: 100%;
}
.productGrid a{
    display: flex;
    flex-direction: column;
    height: 538px;
    color: rgb(51, 51, 51);
    cursor: pointer;
}
.productImgWrapper{
    overflow: hidden;
    position: relative;
    background-color: rgb(245, 245, 245);
    width: 249px;
    height: 320px;
}
.productImgWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out 0s;
}
.productImgWrapper img:hover{
    transform: scale(1.02);
}

.productName{
    max-height: 58px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
}
.productP{
    padding-top: 12px;
    font-size: 12px;
    color: rgb(153, 153, 153);
    line-height: 18px;
    letter-spacing: normal;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
}
.info{
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    padding: 12px 10px 0px 0px;
    cursor: default;
}
.info span{
    padding: 2px 8px 4px;
    border-radius: 4px;
    background-color: rgb(244, 244, 244);
    font-weight: 500;
    font-size: 12px;
    color: rgb(95, 0, 128);
    line-height: 16px;
}
