.container{
    min-width: 1050px;
    margin-top: 50px;
    margin-bottom: 60px;
    background-color: rgb(255, 255, 255);
}
.title{
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -1px;
    color: rgb(51, 51, 51);
}
.box{
    width: 640px;
    margin: 0px auto;
}
.line{
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(51, 51, 51);
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 17px;
    text-align: right;
}
.star{
    color: rgb(238, 106, 123);
}

.main{
    padding: 0px;
}
.main > div{
    display: inline-flex;
    width: 640px;
    padding: 10px 20px;
}
.label{
    width: 139px;
    padding-top: 12px;
}
.label > label{
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 20px;
}
.input{
    flex: 1 1 1;
    width: 333px;
}
.input > div{
    padding-bottom: 0px;
}
.input > div > div{
    position: relative;
    height: 48px;
}
.input > div > div > input{
    width: 100%;
    height: 46px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}
.button{
    width: 120px;
    margin-left: 8px;
}
.button > button, .disabled > button{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 44px;
    border-radius: 3px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
    cursor: pointer;
}
.button > button:invalid{
    border-color: rgb(221, 221, 221);
    color: rgb(221, 221, 221);
    height: 44px;
    border-radius: 3px;
    cursor: default;
}
.disabled{
    width: 120px;
    margin-left: 8px;
}
.disabled > button{
    border-color: rgb(221, 221, 221);
    color: rgb(221, 221, 221);
    height: 44px;
    border-radius: 3px;
    cursor: default;
}
.button > button > span, .disabled > button > span{
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
}

.addressButton{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 44px;
    border-radius: 4px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}
.addressButton > span{
    font-size: 14px;
    font-weight: 500;
}
.addressButton > span > img{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.addressSpan{
    display: block;
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
    color: rgb(102, 102, 102);
}
.radio{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.radio > label{
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 0px 9px;
}
.radio > label > input{
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0px, 0px, 0px, 0px);
}
.radioStyle{
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
}
.radioStyle > div{
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.radio > label > span:last-of-type{
    position: relative;
    margin-left: 12px;
}
.birth{
    height: 44px;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    padding: 0px 15px;
}
.birth > div > div{
    position: relative;
    height: 40px;
}
.birth > div > div{
    padding: 0;
    align-items: center;
}
.birth > div > div > input{
    width: 100%;
    height: 40px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: none;
    font-weight: 400;
    line-height: 38px;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}
.birth > span{
    height: 100%;
}
.birth > span::after{
    content: "/";
    font-size: 14px;
    color: rgb(204, 204, 204);
    text-align: center;
    line-height: 40px;
}

.agree > div{
    display: inline-flex;
    width: 100%;
    padding: 10px 0px 10px 20px;
}
.agree > div > div:first-of-type{
    width: 139px;
    padding-top: 12px;
}
.agree > div > div:last-of-type{
    flex: 1 1 0%;
}
.agreeFirst{
    align-items: flex-start;
    flex-direction: column;
    padding-top: 12px;
    display: flex;
    padding: 8px 0px;
    justify-content: space-between;
}
.agreeFirst > label{
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: top;
    line-height: normal;
    color: rgb(51, 51, 51);
    padding: 0px;
    font-weight: 500;
    font-size: 18px;
}
.agreeFirst > label > input{
    overflow: hidden;
    position: absolute;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
}
.agreeFirst > label > img{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
.agreeFirst > label > span{
    line-height: normal;
    color: rgb(51, 51, 51);
    font-weight: 500;
    font-size: 18px;
}
.agreeFirst > p{
    font-size: 12px;
    color: rgb(102, 102, 102);
    padding-top: 4px;
    padding-left: 36px;
}
.agreeContent{
    display: flex;
    padding: 8px 0px;
    justify-content: space-between;
    align-items: center;
}
.agreeContent > div{
    display: flex;
    align-items: center;
}
.labelClass{
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: top;
    line-height: normal;
    color: rgb(51, 51, 51);
    padding: 0px;
    font-size: 14px;
    white-space: nowrap;
}
.labelClass > input{
    overflow: hidden;
    position: absolute;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
}
.labelClass > img{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
.labelClass > span{
    line-height: normal;
    color: rgb(51, 51, 51);
    font-size: 14px;
}
.agreeContent > div > span{
    padding-left: 5px;
    color: rgb(153, 153, 153);
}
.agreeContent > a{
    padding-right: 22px;
    color: rgb(95, 0, 128);
    letter-spacing: 0px;
}
.agreeContent > a::after{
    content: "";
    display: inline-block;
    margin-left: 4px;
    width: 6px;
    height: 9px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiB2aWV3Qm94PSIwIDAgNiAxMSI+CiAgICA8cGF0aCBmaWxsPSIjNUYwMDgwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xIDExTDYgNS41IDEgMCAwIDEuMSA0IDUuNSAwIDkuOXoiLz4KPC9zdmc+Cg==) 50% 50% / 6px 9px no-repeat;
}
.reception{
    display: flex;
    padding: 8px 0px;
    flex-direction: column;
}
.reception > div:first-of-type{
    display: flex;
    align-items: center;
}
.reception > div:first-of-type > span{
    padding-left: 5px;
    color: rgb(153, 153, 153);
}
.sms{
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 24px;
}
.sms > label{
    padding: 14px 80px 9px 0px;
    position: relative;
    display: flex;
    align-items: center;
    vertical-align: top;
    line-height: normal;
    color: rgb(51, 51, 51);
    font-size: 14px;
}
.reception > div:last-of-type{
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 24px;
}
.reception > div:last-of-type p{
    margin-left: 36px;
    padding-left: 16px;
    background: url(https://res.kurly.com/pc/service/common/2006/ico_sub_dot.svg) 0px 0px / 16px 20px no-repeat;
    font-size: 12px;
    color: rgb(95, 0, 128);
    line-height: 18px;
    letter-spacing: -0.5px;
}
.join{
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(247, 247, 247);
    padding: 40px 0px;
}
.join > button{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 240px;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 0, 128);
    border: 0px none;
}
.join > button > span{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}