/* 헤더 */
.HeaderWrapper{
    width: 100%;
}
.Header{
    position: relative;
    width: 1050px;
    margin: 0px auto;
    height: 100px;
}
/* 회원가입 로그인 부분 */
.Header1{ 
    height: 35px;
    right: 0;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    font-size: 12px;
    align-items: center;  
}
.Header1 > a { 
    display: block;
    white-space: nowrap;  /* 줄바뀜 방지 */
}
.HeaderJoin {
    color: rgb(95, 0, 128);
}
.HeaderLine{
    display: block;
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}
.HeaderCustomerCenter{
    display: block;
    position: relative;
    white-space: nowrap;  /* 줄바뀜 방지 */
}
.HeaderCustomerCenter > span{
    width: 8px;
    height: 5px;
    background-image: url(https://res.kurly.com/pc/ico/1908/ico_down_16x10.png);
    background-size: cover;
    background-position: center center;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 1px;
}
/* 로고, 검색 부분 */
.Header2{
    height: 100px;
    padding-top: 36px;
}
.Header2Inner1{
    height: 63px;
    display: flex;
    align-items: center;
}
.Header2Inner1Button1{
    font-weight: 500;
    color: rgb(95, 0, 128);
    flex-shrink: 0;
    margin-left: 20px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: normal;
    cursor: pointer;
}
.Header2Inner1Button1 > a::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 14px;
    margin-top: 5px;
    margin-left: 11px;
    background-color: rgb(226, 226, 226);
}
.Header2Inner1Button1 a:active{  
    color: rgb(95, 0, 128);
}
.Header2Inner1Button2{
    position: relative;
    margin-left: 22px;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: normal;
    white-space: nowrap;
    color: rgb(181, 181, 181);
    cursor: pointer;
}
.Header2Inner1Button2::after{
    content: "";
    position: absolute;
    display: block;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgNyA3IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHBhdGggZD0iTTUuMTA4IDd2LS4wMDdMMS45MTEgMi41NzdWN0guMDQ2VjBoMS44NjdsMy4xOTYgNC40MTlWMGgxLjg2N3Y3SDUuMTA4eiIgZmlsbD0iI0ZBNjIyRiIgZmlsbC1ydWxlPSJldmVub2RkIi8+Cjwvc3ZnPgo=) 0px 0px no-repeat;
    width: 10px;
    height: 10px;
    top: 3px;
    right: -13px;
}
.Header2Inner2{
    width: 1050px;
    position: relative;
    margin: 0 auto;
}
.Header2Inner2 > div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: absolute;
    left: 325px;
    top: -55px;
    width: 400px;
    height: 48px;
    padding-left: 14px;
    border: 1px solid rgb(95, 0, 128);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(247 247 247) 0px 0px 0px 1px inset;
}
.Header2Inner2 > div > input{
    width: 300px;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: -0.33px;
}
.Header2Inner2 > div > button{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px;
    bottom: 3px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgzNnYzNkgweiIvPgogICAgICAgIDxnIHN0cm9rZT0iIzVGMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Im0yNi4wODEgMjYuMDgxLTQuMTItNC4xMk0xNi40NjcgMjMuMzM0YTYuODY3IDYuODY3IDAgMSAwIDAtMTMuNzM0IDYuODY3IDYuODY3IDAgMCAwIDAgMTMuNzM0eiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==) 0px 0px no-repeat;
}
.Header2Inner3{
    width: 1050px;
    position: relative;
    margin: 0 auto;
}
.Header2Inner3 > div{
    display: flex;
    align-items: center;
    position: absolute;
    right: -6px;
    top: -49px;
}
.HeaderLocationIcon{
    width: 36px;
    height: 36px;
    margin-right: 20px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4LjcgNikiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJNOS4zMDYgMjRTMCAxNi41NDQgMCA5LjMwNmE5LjMwNiA5LjMwNiAwIDAgMSAxOC42MTIgMEMxOC42MTIgMTYuNTQ0IDkuMzA2IDI0IDkuMzA2IDI0eiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgY3g9IjkuMjEyIiBjeT0iOS4xMjMiIHI9IjIuNzg0Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K) 50% 50% no-repeat;
    cursor: pointer;
}
.HeaderWishIcon{
    width: 36px;
    height: 36px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yOC45MjcgOC44OTNhNi40NiA2LjQ2IDAgMCAwLTkuMTM5IDBsLTEuODI5IDEuODI4LTEuODI3LTEuODI4YTYuNDYyIDYuNDYyIDAgMSAwLTkuMTQgOS4xMzhMOC44MiAxOS44Nmw4LjQzMiA4LjQzNGExIDEgMCAwIDAgMS40MTQgMGw4LjQzMy04LjQzNGgwbDEuODI4LTEuODI4YTYuNDYgNi40NiAwIDAgMCAwLTkuMTM4eiIgc3Ryb2tlPSIjMzMzIiBzdHJva2Utd2lkdGg9IjEuNyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==) 50% 50% no-repeat;
}
.HeaderCartIcon{
    position: relative;
    margin-left: 20px;
}
.HeaderCartIcon button{
    display: block;
    width: 36px;
    height: 36px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1LjE2NCA2LjU0NykiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJtMjUuNjggMy42Ni0yLjcyIDExLjU3SDcuMzdMNC42NiAzLjY2eiIvPgogICAgICAgICAgICA8Y2lyY2xlIGN4PSIyMC41MiIgY3k9IjIwLjc4IiByPSIyLjE0Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9IjkuODEiIGN5PSIyMC43OCIgcj0iMi4xNCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMCAwaDMuOGwxLjc2IDcuNSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==);
    cursor: pointer;
}


/* 헤더 nav 부분 */
.navWrapper{
    position: relative;
    min-width: 1050px;
    letter-spacing: -0.3px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px;
    z-index: 1000;
}
.nav{
    width: 1050px;
    height: 56px;
    margin: 0px auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.navCategory{
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}
.navCategoryIcon{
    width: 16px;
    height: 14px;
    margin-right: 14px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==) 0px 0px / 16px 14px no-repeat;
}
.navCategoryText{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    color: rgb(51, 51, 51);
}
.navUl{
    display: flex;
    margin-left: 30px;
}
.navUl > li{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 55px;
    padding-top: 18px;
    line-height: 20px;
    text-align: center;
}
.navUl > li > span{
    height: fit-content;
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    cursor: pointer;
}
.navCircle{
    display: flex;
    align-items:center;
}
.navCircle > a{
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0px 16px;
    border-radius: 18px;
    border: 1px solid rgb(238, 238, 238);
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.32px;
}
.navCircle > a > span{
    font-weight: 500;
    color: rgb(95, 0, 128);
}


.navWrapperScroll{
    width: 100%;
    letter-spacing: -0.3px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px;
    width: 100%;
    position: fixed;
    z-index: 101;
    top: 0px;
    left: 0px;
}
.navScroll{
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 1050px;
    height: 56px;
    margin: 0px auto;
}
.navCategoryScroll{
    height: 100%;
    width: 120px;
    cursor: pointer;
    flex: 0 0 120px;
}
.navCategoryScroll > div{
    display: flex;
    align-items: center;
    height: 100%;
}
.navUlScroll{
    display: flex;
    flex: 0 0 0%;
    margin-left: 30px;
}
.navUlScroll > li {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 55px;
    padding-top: 18px;
    line-height: 20px;
    text-align: center;
    flex: 0 0 120px;
}
.navUlScroll > li > span{
    height: fit-content;
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    cursor: pointer;
}
.HeaderScrollInput{
    position: relative;
    width: 1050px;
    margin: 0px auto;
}
.HeaderScrollInput > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 14px;
    border-radius: 6px;
    box-shadow: rgb(247 247 247) 0px 0px 0px 1px inset;
    position: fixed;
    z-index: 102;
    top: 10px;
    width: 228px;
    height: 36px;
    border: none;
    background-color: rgb(247, 247, 247);
    left: 50%;
    margin-left: 120px;
}
.HeaderScrollInput > div > input{
    width: 188px;
    padding-right: 22px;
    font-weight: 400;
    font-size: 12px;
    color: rgb(51, 51, 51);
    line-height: 18px;
    background-color: inherit;
    border: none;
    outline: none;
}
.HeaderScrollInput > div > button{
    position: relative;
    height: 30px;
    margin: 10px 0px 10px 10px;
    top: 0px;
    width: 40px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDZWNmgxOHoiLz4KICAgICAgICA8cGF0aCBkPSJNMjIuNSAyMi41aC0xNXYtMTVoMTV6Ii8+CiAgICAgICAgPGcgc3Ryb2tlPSIjMzMzIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNiI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0xOC44MjUgMTMuMzUyYzAgMS43MjUtLjc1IDMuMjI1LTEuOTUgNC4yLS45NzUuODI1LTIuMTc1IDEuMjc1LTMuNTI1IDEuMjc1YTUuNDU3IDUuNDU3IDAgMCAxLTUuNDc1LTUuNDc1IDUuNDU3IDUuNDU3IDAgMCAxIDUuNDc1LTUuNDc1YzMtLjA3NSA1LjQ3NSAyLjQgNS40NzUgNS40NzV6TTIxLjM3NSAyMS4zNzVsLTMuNzUtMy43NSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==) 0px 0px no-repeat;
}
.HeaderIcon{
    position: relative;
    width: 1050px;
    margin: 0px auto;
}
.HeaderIcon > div{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 102;
    right: auto;
    top: 10px;
    left: 50%;
    margin-left: 383px;
}
.fixed{
    position: fixed;
    top: 0px;
    animation: down 0.5s ease;
}
.none{
    display: none;
}

@media screen and (max-width: 820px){  /* Pad */
    .HeaderWrapper{
        width: 100%;
    }
    .Header{
        width: 100%;
    }
    .Header1{
        font-size: 0.8em;
    }
    .Header2{
        width: 100%;
    }
    .Header2Inner1{
        padding-left: 5px;
        width: 30%;
    }
    .Header2Inner1 > img{
        width: 4.5em;
        height: 100%;
    }
    .Header2Inner1 button {
        width: 33%;
        font-size: 1.1em;
    }
    .Header2Inner1Button2::after {
        top: 0;
        right: -45px;
    }
    .Header2Inner2 > div{
        width: 28%;
        left: 27%;
    }
    .Header2Inner2 > div > input{
        width: 90%;
        font-size: 0.9em;
    }
    .Header2Inner3{
        width: 28%;
        float: right;
    }
    .Header2Inner3 > div{
        right: 0;
    }
    .navWrapper{
        min-width: 820px;
    }
    .nav{
        width: 90%;
    }
    .navCategory{
        flex-shrink: 1;
    }
    .navUl{
        flex: left;
    }
    .navUl li{
        width: 120px;
    }
    .navCircle{
        /* display: none; */
    }
    .navWrapperScroll{
        width: 820px;
    }
    .navScroll{
        width: 90%;
    }
    .HeaderScrollInput{
        display: none;
    }
    .HeaderIcon > div{
        left: auto;
        right: 5px;
    }
    .navUlScroll{
        margin-left: 0;
    }
    .navUlScroll li{
        width: 100px;
    }
    .navUlScroll > li span{
        font-size: 14px;
    }
}

@media screen and (max-width: 390px){   /* Phone */
    .HeaderWrapper{
        width: 100%;
    }
    .Header{
        width: 100%;
    }
    .Header1{
        font-size: 0.8em;
        position: relative;
        padding: 0px 20px;
    }
    .Header2Inner2{
        display: none;
    }
}