/* side nav */
.sideNavWrapper{
    position: absolute;
    top: 516px;
    right: 20px;
    bottom: 0px;
}
.sideNav{
    position: sticky;
    top: 20vh;
    width: 80px;
    right: 20px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.3px;
    z-index: 1;
}
.sideNavMainImg{
    width: 80px;
    height: 120px;
    margin-bottom: 7px;
}
.sideNavUl{
    width: 80px;
    border-width: 1px 1px 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
    border-image: initial;
    border-bottom-style: initial;
    border-bottom-color: initial;
    background-color: rgb(255, 255, 255);
}
.sideNavUl > a {
    color: inherit;
    text-align: center;
    align-items: center;
}
.sideNavUl > a > div{
    display: block;
    height: 29px;
    padding-top: 8px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.recentView{
    margin-top: 8px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.recentView > strong{
    display: block;
    padding: 6px 0px;
    font-weight: 500;
}
.recentViewLists{
    max-height: 209px;
    overflow: hidden;
}
.recentViewLists > ul{
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: top 0.2s ease 0s;
}